<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create Customer</title>
</head>
<body>
<div align="center">
    <h1>Create Customer</h1>
    <hr>
    <span th:if="message" th:text="${message}"></span>
    <form th:action="@{/create}" method="post" th:object="${customer}">
        <table>
            <tr>
                <td>Name:</td>
                <td><input type="text" th:field="*{name}"></td>
                <td th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name Error</td>
            </tr>
            <tr>
                <td>Email:</td>
                <td><input type="text" th:field="*{email}"></td>
                <td th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Email Error</td>

            </tr>
            <tr>
                <td><input type="submit" value="Create new Customer"/></td>
            </tr>

        </table>

        <a th:href="@{/}">Back to list</a>
    </form>
</div>

</body>
</html>